.example-list {
    /* width: 100%; */
   /* min-height: 200px; */
  }
  
.example-box {
  /* width: 300px;
  height: 300px; */
  border: solid 1px #ccc;
  color: rgba(255, 255, 255, 0.87);
  display: flex;
  flex-direction: column;
  /* box-sizing: border-box; */
  justify-content: start;
  align-items: start;
  background: brown;
  font-size: 14px;
  /* flex-grow: 1;
  flex-basis: 0; */
  border-radius: 4px;
  word-break: break-word;
  overflow: hidden;
  /* overflow-y: hidden;
  --max-line : 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-line); */
  /* overflow-y: scroll; */

}